{{define "head"}}
<title>Admin Area</title>
{{end}}

{{define "neck"}}
<link rel='stylesheet' href='/public/views/admin/index.min.css?{{.cacheBreaker}}'>
{{end}}

{{define "body"}}
<div class="row">
	<div class="col-sm-6">
		<div class="page-header">
			<h1>Admin Area</h1>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="well stat">
					<div class="stat-value"></div>
					<div class="stat-label">Users {{.CountStatus}}</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well stat">
					<div class="stat-value"></div>
					<div class="stat-label">Accounts {{.CountStatus}}</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well stat">
					<div class="stat-value"></div>
					<div class="stat-label">Admins {{.CountStatus}}</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="well stat">
					<div class="stat-value"></div>
					<div class="stat-label">Groups {{.CountStatus}}</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well stat">
					<div class="stat-value"></div>
					<div class="stat-label">Categories {{.CountStatus}}</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well stat">
					<div class="stat-value"></div>
					<div class="stat-label">Statuses {{.CountStatus}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 special">
		<div class="page-header">
			<h1>Super Dashboard</h1>
		</div><i class="fa fa-gears super-awesome"></i>
	</div>
</div>
{{end}}

{{define "feet"}}
<script src='/public/views/account/verification/index.js?#{cacheBreaker}'></script>
{{end}}