{{define "head"}}
<title>Administrators / Details</title>
{{end}}

{{define "neck"}}
<link rel='stylesheet' href='/public/views/admin/administrators/details.min.css?{{.cacheBreaker}}'>
{{end}}

{{define "feet"}}
<script src="/public/views/admin/administrators/details.js?{{.CacheBreaker}}"></script>
{{end}}

{{define "body"}}
<div class="row">
	<div class="col-xs-12">
		<div id="header"></div>
		<div id="details"></div>
		<div id="login"></div>
		<div id="groups"></div>
		<div id="permissions"></div>
		<div id="delete"></div>
	</div>
</div>

<script type="text/template" id="tmpl-header">
	<div class="page-header">
		<h1><a href="/admin/administrators/">Administrators</a> / <%- name.full %></h1>
	</div>
</script>

<script type="text/template" id="tmpl-details">
	<fieldset>
		<legend>Contact Info</legend>
		<div class="alerts"><% _.each(errors, function(err) { %>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" data-dismiss="alert" class="close">&times;</button><%- err %>
			</div><% }); %>
			<% if (success) { %>
			<div class="alert alert-info alert-dismissable">
				<button type="button" data-dismiss="alert" class="close">&times;</button>Changes have been saved.
			</div><% } %>
		</div>
		<div class="form-group <%- errfor.first ? "has-error" : "" %>">
		<label>First Name:</label>
		<input type="text" name="first" value="<%= first %>" class="form-control"/><span class="help-block"><%- errfor.first %></span>
		</div>
		<div class="form-group <%- errfor.middle ? "has-error" : "" %>">
		<label>Middle Name:</label>
		<input type="text" name="middle" value="<%= middle %>" class="form-control"/><span class="help-block"><%- errfor['middle'] %></span>
		</div>
		<div class="form-group <%- errfor.last ? "has-error" : "" %>">
		<label>Last Name:</label>
		<input type="text" name="last" value="<%= last %>" class="form-control"/><span class="help-block"><%- errfor.last %></span>
		</div>
		<div class="form-group">
			<button type="button" class="btn btn-primary btn-update">Update</button>
		</div>
	</fieldset>
</script>

<script type="text/template" id="tmpl-login">
	<fieldset>
		<legend>Login</legend>
		<div class="alerts"><% _.each(errors, function(err) { %>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" data-dismiss="alert" class="close">&times;</button><%- err %>
			</div><% }); %>
		</div>
		<div class="form-group <%- errfor.newUsername ? "has-error" : "" %>">
		<label>Username:</label>
		<div class="input-group"><% if (name) { %>
			<input disabled="disabled" value="<%= name %>" class="form-control"/>
			<div class="input-group-btn">
				<button type="button" class="btn btn-warning btn-user-unlink">Unlink</button>
				<button type="button" class="btn btn-default btn-user-open">Open</button>
			</div><% } else { %>
			<input name="newUsername" type="text" placeholder="enter a username" class="form-control"/>
			<div class="input-group-btn">
				<button type="button" class="btn btn-success btn-user-link">Link</button>
			</div><% } %>
		</div><span class="help-block"><%- errfor.newUsername %></span>
		</div>
	</fieldset>
</script>







<script type="text/template" id="tmpl-groups">
	<fieldset>
		<legend>Groups</legend>
		<div class="alerts"><% _.each(errors, function(err) { %>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" data-dismiss="alert" class="close">&times;</button><%- err %>
			</div><% }); %>
			<% if (success) { %>
			<div class="alert alert-info alert-dismissable">
				<button type="button" data-dismiss="alert" class="close">&times;</button>Changes have been saved.
			</div><% } %>
		</div>
		<div class="form-group <%- errfor.newMembership ? "has-error" : "" %>">
		<div class="input-group">
			<select name="newMembership" class="form-control">
				{{.Groups}}
			</select>
			<div class="input-group-btn">
				<button type="button" class="btn btn-success btn-add">Add</button>
			</div>
		</div><span class="help-block"><%- errfor.newUsername %></span>
		</div>
		<div class="form-group <%- errfor.memberships ? "has-error" : "" %>">
		<label>Memberships:</label>
		<div class="groups"><% _.each(groups, function(group) { %>
			<div class="input-group">
				<input disabled="disabled" value="<%= group.name %>" class="form-control"/>
				<div class="input-group-btn">
					<button type="button" class="btn btn-danger btn-delete"><i class="fa fa-trash-o fa-inverse"></i></button>
				</div>
			</div><% }); %>
			<% if (groups.length == 0) { %><span class="badge">no memberships defined</span><% } %><span class="help-block"><%- errfor.memberships %></span>
		</div>
		</div>
		<div class="form-group">
			<button type="button" class="btn btn-primary btn-save">Save Groups</button>
		</div>
	</fieldset>
</script>

<script type="text/template" id="tmpl-permissions">
	<fieldset>
		<legend>Permissions</legend>
		<div class="alerts"><% _.each(errors, function(err) { %>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" data-dismiss="alert" class="close">&times;</button><%- err %>
			</div><% }); %>
			<% if (success) { %>
			<div class="alert alert-info alert-dismissable">
				<button type="button" data-dismiss="alert" class="close">&times;</button>Changes have been saved.
			</div><% } %>
		</div>
		<div class="form-group <%- errfor.newPermission ? "has-error" : "" %>">
		<label>New Setting:</label>
		<div class="input-group">
			<input name="newPermission" type="text" placeholder="enter a name" class="form-control"/>
			<div class="input-group-btn">
				<button type="button" class="btn btn-success btn-add">Add</button>
			</div>
		</div><span class="help-block"><%- errfor.newUsername %></span>
		</div>
		<div class="form-group <%- errfor.settings ? "has-error" : "" %>">
		<label>Settings:</label>
		<div class="permissions"><% _.each(permissions, function(permission) { %>
			<div class="input-group">
				<input disabled="disabled" value="<%= permission.name %>" class="form-control"/>
				<div class="input-group-btn"><% if (permission.permit) { %>
					<button type="button" disabled="disabled" class="btn btn-default btn-allow">Allow</button>
					<button type="button" class="btn btn-default btn-deny">Deny</button><% } else { %>
					<button type="button" class="btn btn-default btn-allow">Allow</button>
					<button type="button" disabled="disabled" class="btn btn-default btn-deny">Deny</button><% } %>
					<button type="button" class="btn btn-danger btn-delete"><i class="fa fa-trash-o fa-inverse"></i></button>
				</div>
			</div><% }); %>
			<% if (permissions.length == 0) { %><span class="badge">no permissions defined</span><% } %><span class="help-block"><%- errfor.settings %></span>
		</div>
		</div>
		<div class="form-group">
			<button type="button" class="btn btn-primary btn-set">Save Settings</button>
		</div>
	</fieldset>
</script>

<script type="text/template" id="tmpl-delete">
	<fieldset>
		<legend>Danger Zone</legend>
		<div class="alerts"><% _.each(errors, function(err) { %>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" data-dismiss="alert" class="close">&times;</button><%- err %>
			</div><% }); %>
		</div>
		<div class="form-group"><span class="help-block"><span class="label label-danger">If you do this, it cannot be undone.</span>&nbsp;<span class="text-muted">You may also create orphaned document relationships too.</span></span></div>
		<div class="form-group">
			<button type="button" class="btn btn-danger btn-delete">Delete</button>
		</div>
	</fieldset>
</script>

<script type="text/template" id="data-record">{{.Record}}</script>

{{end}}
