{{define "head"}}
<title>Login</title>
{{end}}

{{define "body"}}
<div class="row">
	<div class="col-sm-6">
		<div class="page-header">
			<h1>Sign In</h1>
		</div>
		<div id="login"></div>
		{{if .oauth}}
		<hr/>
		<p>Or sign up using...
		{{if .oauthMessage}}
		<div class="alerts">
			<div class="alert alert-info alert-dismissable">
				<button type="button" data-dismiss="alert" class="close">&times;</button>
				{{.oauthMessage}}&nbsp;
				<b>
					<a href="/signup/">Sign Up Here</a>
				</b>
			</div>
		</div>
		{{end}}
		</p>
		<div class="btn-group btn-group-justified">
			{{if .oauthTwitter}}
			<a href="/provider/twitter/" class="btn btn-info">
				<i class="fa fa-twitter fa-lg"></i> Twitter
			</a>
			{{end}}
			{{if .oauthGitHub}}
			<a href="/provider/github/" class="btn btn-info">
				<i class="fa fa-github fa-lg"></i> GitHub
			</a>
			{{end}}
			{{if .oauthFacebook}}
			<a href="/provider/facebook/" class="btn btn-info">
				<i class="fa fa-facebook-square fa-lg"></i> Facebook
			</a>
			{{end}}
			{{if .oauthGoogle}}
			<a href="/provider/google/" class="btn btn-info">
				<i class="fa fa-google-plus-square fa-lg"></i> Google
			</a>
			{{end}}
			{{if .oauthTumblr}}
			<a href="/provider/tumblr/" class="btn btn-info">
				<i class="fa fa-tumblr-square fa-lg"></i> Tumblr
			</a>
			{{end}}
		</div>
		{{end}}
	</div>
</div>
<script type="text/template" id="tmpl-login">
	<form>
		<div class="alerts"><% _.each(errors, function(err) { %>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" data-dismiss="alert" class="close">&times;</button><%- err %>
			</div><% }); %>
		</div>
		<div class="form-group <%- errfor.username ? "has-error" : "" %>">
		<label>Username or Email:</label>
		<input type="text" name="username" value="<%= username %>" class="form-control"/><span class="help-block"><%- errfor.username %></span>
		</div>
		<div class="form-group <%- errfor.password ? "has-error" : "" %>">
		<label>Password:</label>
		<input type="password" name="password" value="<%= password %>" class="form-control"/><span class="help-block"><%- errfor.password %></span>
		</div>
		<div class="form-actions">
			<button type="button" class="btn btn-primary btn-login">Sign In</button>&nbsp;<a href="/login/forgot/" class="btn btn-link">Forgot your password?</a>
		</div>
	</form>
</script>
{{end}}

{{define "feet"}}
<script src="/public/views/login/index.js?{{.CacheBreaker}}"></script>
{{end}}