{{define "head"}}
<title>Account Settings</title>
{{end}}

{{define "body"}}
<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
			<h1>Account Settings</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-9">
		<div id="details"></div>
		<div id="identity"></div>
		<div id="password"></div>
	</div>
	<div class="col-sm-3">
		{{if .oauth}}
		<legend>Social Connections</legend>
		{{if .oauthMessage}}
			<div class="alerts">
				<div class="alert alert-info alert-dismissable">
					<button type="button" data-dismiss="alert" class="close">&times;</button>
					{{.oauthMessage}}
				</div>
			</div>
		{{end}}
		{{if .oauthTwitter}}
			{{if .oauthTwitterActive}}
				<a href="/account/providerSettings/twitter/disconnect/" class="btn btn-block btn-danger">
					<i class="fa fa-twitter fa-lg"></i>
					Disconnect Twitter
				</a>
			{{else}}
				<a href="/account/providerSettings/twitter/" class="btn btn-block btn-default">
					<i class="fa fa-twitter fa-lg"></i>
					Connect Twitter
				</a>
			{{end}}
		{{end}}
		{{if .oauthGitHub}}
			{{if .oauthGitHubActive}}
				<a href="/account/providerSettings/github/disconnect/" class="btn btn-block btn-danger">
					<i class="fa fa-twitter fa-lg"></i>
					Disconnect GitHub
				</a>
			{{else}}
				<a href="/account/providerSettings/github/" class="btn btn-block btn-default">
					<i class="fa fa-twitter fa-lg"></i>
					Connect GitHub
				</a>
			{{end}}
		{{end}}
		{{if .oauthFacebook}}
			{{if .oauthFacebookActive}}
				<a href="/account/providerSettings/facebook/disconnect/" class="btn btn-block btn-danger">
					<i class="fa fa-twitter fa-lg"></i>
					Disconnect Facebook
				</a>
			{{else}}
				<a href="/account/providerSettings/facebook/" class="btn btn-block btn-default">
					<i class="fa fa-twitter fa-lg"></i>
					Connect Facebook
				</a>
			{{end}}
		{{end}}
		{{if .oauthGoogle}}
			{{if .oauthGoogleActive}}
				<a href="/account/providerSettings/google/disconnect/" class="btn btn-block btn-danger">
					<i class="fa fa-twitter fa-lg"></i>
					Disconnect Google
				</a>
			{{else}}
				<a href="/account/providerSettings/google/" class="btn btn-block btn-default">
					<i class="fa fa-twitter fa-lg"></i>
					Connect Google
				</a>
			{{end}}
		{{end}}
		{{if .oauthTumblr}}
			{{if .oauthTumblrActive}}
				<a href="/account/providerSettings/tumblr/disconnect/" class="btn btn-block btn-danger">
					<i class="fa fa-twitter fa-lg"></i>
					Disconnect Tumblr
				</a>
			{{else}}
				<a href="/account/providerSettings/tumblr/" class="btn btn-block btn-default">
					<i class="fa fa-twitter fa-lg"></i>
					Connect Tumblr
				</a>
			{{end}}
			{{end}}
		{{end}}
	</div>
</div>

<script type="text/template" id="tmpl-details">
	<fieldset>
		<legend>Contact Info</legend>
		<div class="alerts"><% _.each(errors, function(err) { %>
			<div class="alert alert-danger alert-dismissable"><%- err %></div><% }); %>
			<% if (success) { %>
			<div class="alert alert-info alert-dismissable">
				<button type="button" data-dismiss="alert" class="close">&times;</button>Changes have been saved.
			</div><% } %>
		</div>
		<div class="form-group <%- errfor.first ? "has-error" : "" %>">
		<label>First Name:</label>
		<input type="text" name="first" value="<%- first %>" class="form-control"/><span class="help-block"><%- errfor.first %></span>
		</div>
		<div class="form-group <%- errfor.middle ? "has-error" : "" %>">
		<label>Middle Name:</label>
		<input type="text" name="middle" value="<%- middle %>" class="form-control"/><span class="help-block"><%- errfor.middle %></span>
		</div>
		<div class="form-group <%- errfor.last ? "has-error" : "" %>">
		<label>Last Name:</label>
		<input type="text" name="last" value="<%- last %>" class="form-control"/><span class="help-block"><%- errfor['last'] %></span>
		</div>
		<div class="form-group <%- errfor.company ? "has-error" : "" %>">
		<label>Company Name:</label>
		<input type="text" name="company" value="<%- company %>" class="form-control"/><span class="help-block"><%- errfor.company %></span>
		</div>
		<div class="form-group <%- errfor.phone ? "has-error" : "" %>">
		<label>Phone:</label>
		<input type="text" name="phone" value="<%- phone %>" class="form-control"/><span class="help-block"><%- errfor.phone %></span>
		</div>
		<div class="form-group <%- errfor.zip ? "has-error" : "" %>">
		<label>Zip:</label>
		<input type="text" name="zip" value="<%- zip %>" class="form-control"/><span class="help-block"><%- errfor.zip %></span>
		</div>
		<div class="form-group">
			<button type="button" class="btn btn-primary btn-update">Update</button>
		</div>
	</fieldset>
</script>
<script type="text/template" id="tmpl-identity">
	<fieldset>
		<legend>Identity</legend>
		<div class="alerts"><% _.each(errors, function(err) { %>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" data-dismiss="alert" class="close">&times;</button><%- err %>
			</div><% }); %>
			<% if (success) { %>
			<div class="alert alert-info alert-dismissable">
				<button type="button" data-dismiss="alert" class="close">&times;</button>Changes have been saved.
			</div><% } %>
		</div>
		<div class="form-group <%- errfor.username ? "has-error" : "" %>">
		<label>Username:</label>
		<input type="text" name="username" value="<%= username %>" class="form-control"/><span class="help-block"><%- errfor.username %></span>
		</div>
		<div class="form-group <%- errfor.email ? "has-error" : "" %>">
		<label>Email:</label>
		<input type="text" name="email" value="<%= email %>" class="form-control"/><span class="help-block"><%- errfor.email %></span>
		</div>
		<div class="form-group">
			<button type="button" class="btn btn-primary btn-update">Update</button>
		</div>
	</fieldset>
</script>
<script type="text/template" id="tmpl-password">
	<fieldset>
		<legend>Set Password</legend>
		<div class="alerts"><% _.each(errors, function(err) { %>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" data-dismiss="alert" class="close">&times;</button><%- err %>
			</div><% }); %>
		</div><% if (success) { %>
		<div class="alert alert-info alert-dismissable">
			<button type="button" data-dismiss="alert" class="close">&times;</button>A new password has been set.
		</div><% } %>
		<div class="form-group <%- errfor.newPassword ? "has-error" : "" %>">
		<label>New Password:</label>
		<input type="password" name="newPassword" value="<%= newPassword %>" class="form-control"/><span class="help-block"><%- errfor.newPassword %></span>
		</div>
		<div class="form-group <%- errfor.confirm ? "has-error" : "" %>">
		<label>Confirm Password:</label>
		<input type="password" name="confirm" value="<%= confirm %>" class="form-control"/><span class="help-block"><%- errfor.confirm %></span>
		</div>
		<div class="form-group">
			<button type="button" class="btn btn-primary btn-password">Set Password</button>
		</div>
	</fieldset>
</script>
<script type="text/template" id="data-account">{{.Account}}</script>
<script type="text/template" id="data-user">{{.User}}</script>
{{end}}

{{define "feet"}}
<script src="/public/views/account/settings/index.js?{{.CacheBreaker}}"></script>
{{end}}