<!DOCTYPE html>
<html>
<head>
	<title>{{.Title}}</title>
	{{block "head" .}} {{end}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/layouts/core.min.css?{{.CacheBreaker}}">
	{{block "neck" .}} {{end}}
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="/account/" class="navbar-brand">
				<img src="/public/media/logo-symbol-64x64.png" alt="Logo" class="navbar-logo">
				<span class="navbar-brand-label">{{.ProjectName}}</span>
			</a>
			<button data-toggle="collapse" data-target=".my-navbar-collapse" class="navbar-toggle collapsed">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span><span class="icon-bar"></span></button>
		</div>
		<div class="navbar-collapse my-navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="/account/">My Account</a>
				</li>
				<li>
					<a href="/account/settings/">Settings</a>
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li>
					<a href="/logout/">
						<i class="fa fa-user"></i> Sign Out
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="page">
	<div class="container">
		{{block "body" .}} {{end}}
	</div>
</div>
<div class="footer">
	<div class="container">
		<div class="inner">
			<span class="copyright pull-right">&#169; {{.CopyrightYear}} {{.CopyrightName}}</span>
			<ul class="links">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/logout/">Sign Out</a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="ajax-spinner">
	<img src="/public/media/ajax-pulse.gif" alt="Loading">
</div>
<!--if lte IE 9script(src='/layouts/ie-sucks.min.js?{{.CacheBreaker}}')-->
<script src="/public/layouts/core.min.js?{{.CacheBreaker}}"></script>
{{block "feet" .}} {{end}}
</body>
</html>