{{define "head"}}
<title>Statuses / Details</title>
{{end}}

{{define "feet"}}
<script src="/public/views/admin/statuses/details.js?{{.CacheBreaker}}"></script>
{{end}}

{{define "body"}}
<div class="row">
	<div class="col-xs-12">
		<div id="header"></div>
		<div id="details"></div>
		<div id="delete"></div>
	</div>
</div>

<script type="text/template" id="tmpl-header">
	<div class="page-header">
		<h1><a href="/admin/statuses/">Statuses</a> / <%- name %></h1>
	</div>
</script>

<script type="text/template" id="tmpl-details">
	<fieldset>
		<legend>Details</legend>
		<div class="alerts"><% _.each(errors, function(err) { %>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" data-dismiss="alert" class="close">&times;</button><%- err %>
			</div><% }); %>
			<% if (success) { %>
			<div class="alert alert-info alert-dismissable">
				<button type="button" data-dismiss="alert" class="close">&times;</button>Changes have been saved.
			</div><% } %>
		</div>
		<div class="form-group <%- errfor.pivot ? "has-error" : "" %>">
		<label>Pivot:</label>
		<input type="text" name="pivot" value="<%- pivot %>" class="form-control"/><span class="help-block"><%- errfor.pivot %></span>
		</div>
		<div class="form-group <%- errfor.name ? "has-error" : "" %>">
		<label>Name:</label>
		<input type="text" name="name" value="<%- name %>" class="form-control"/><span class="help-block"><%- errfor.name %></span>
		</div>
		<div class="form-group">
			<button type="button" class="btn btn-primary btn-update">Update</button>
		</div>
	</fieldset>
</script>

<script type="text/template" id="tmpl-delete">
	<fieldset>
		<legend>Danger Zone</legend>
		<div class="alerts"><% _.each(errors, function(err) { %>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" data-dismiss="alert" class="close">&times;</button><%- err %>
			</div><% }); %>
		</div>
		<div class="form-group"><span class="help-block"><span class="label label-danger">If you do this, it cannot be undone.</span>&nbsp;<span class="text-muted">You may also create orphaned document relationships too.</span></span></div>
		<div class="form-group">
			<button type="button" class="btn btn-danger btn-delete">Delete</button>
		</div>
	</fieldset>
</script>

<script type="text/template" id="data-record">{{.Record}}</script>

{{end}}
